<div class="results">
	<h2>RESULTS: {{game?.id}}</h2>
	<h3>Round {{game?.players[0].turns.length}}</h3>
	<div class="players">
		<ul class="unstyled">
			<li *ngFor="let player of game?.players" [class.current-player]="player === currentPlayer" [class.winner]="player === winnerPlayer">
				<div class="player"><span class="player-name">Player {{player.name}} </span>:<span class="player-points"> {{player.points}}</span></div>
				<div class="column-group last-turn">
					<div class="all-25 throw">{{player.getLastTurn()?.hits[0]?.hit | uppercase}} &nbsp;</div>
					<div class="all-25 throw">{{player.getLastTurn()?.hits[1]?.hit | uppercase}} &nbsp;</div>
					<div class="all-25 throw">{{player.getLastTurn()?.hits[2]?.hit | uppercase}} &nbsp;</div>

					<div class="all-25 last-turn-score">
						<span *ngIf=player.getLastTurn()>
							{{player.getLastTurn()?.points}}
						</span>
						<span *ngIf=!player.getLastTurn()>
							0
						</span>
					</div>
				</div>
			</li>

		</ul>
	</div>
</div>