.results {}

li.current-player{
	border-style: solid;
    border-width: thin;
}

li.winner{
	border-style: solid;
    border-width: thin;
	border-color: red;
}

.players {
	/*background-color: darkgrey;*/
}

.player {
	margin-left: 5px;
}

.player-name {}

.player-points {
	font-weight: bold
}

.current-player {}

.last-turn {
	margin-top: 5px;
}

.throw {
	height: 100%;
	/*background-color: #a4afaf;*/
	text-align: center;
}

.last-turn-score {
	height: 100%;
	/*background-color: #a4afaf;*/
	text-align: center;
	font-weight: bold
}