<div class="ink-grid">

	<!--[if lte IE 9 ]>
	<div class="ink-alert basic" role="alert">
		<button class="ink-dismiss">&times;</button>
		<p>
			<strong>You are using an outdated Internet Explorer version.</strong>
			Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
		</p>
	</div>
	-->

	<div class="column-group gutters">
		<div class="all-100">
			<h2>Ng darter: {{game?.id}}</h2>
			<button class="ink-button green" (click)="newGame()">New Game</button>
		</div>
	</div>
	<div class="column-group gutters">
		<div class="xlarge-60 large-60 all-100">
			<dartboard [game]=game></dartboard>
		</div>
		<div class="xlarge-40 large-40 all-100">
			<results [game]=game [currentPlayer]=game?.currentPlayer [winnerPlayer]=game?.winnerPlayer></results>
		</div>
	</div>

</div>


<app-modal #newGameModal>
	<div class="app-modal-header">
		New Game
	</div>
	<div class="app-modal-body">
		<form class="ink-form">
			<div class="column-group horizontal-gutters">
				<div class="control-group all-25 small-100 tiny-100">
					<div class="control append-button">
						<span><input name="name" type="text" placeholder="player name" #playerName></span>
						<span class="ink-button" (click)="addPlayer(playerName.value); playerName.value=''">Add</span>
					</div>
				</div>
			</div>
		</form>
		<h2>List of Players</h2>
		<ul>
			<li *ngFor="let player of players">
				Player: {{player.name}}
				<span class="ink-button red" (click)="removePlayer(player)">x</span>
			</li>
		</ul>
	</div>
	<div class="app-modal-footer">
		<button class="ink-button green" (click)="startGame()" [disabled]="players?.length == 0">Start Game</button>
		<button class="ink-button red push-right" (click)="newGameModal.hide()">Cancel</button>
	</div>
</app-modal>